    .features__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    .features__bg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding: 25px;
        width: 100%;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
    }

    .features__item {
        @media screen and (max-width: 767px) {
            flex-basis: 100%;
            &:not(:last-child) {
            margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 8 * 15px) / 4);
            margin: 15px;
        }
    }
    
    .features__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    
    .features__text {
        margin-top: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--second-text-color);
    }