.hero {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // height: 400px;
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4) ), url('../images/herom@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url('../images/herom@2x.jpg');
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), url('../images/herot@1x.jpg');
        max-width: 768px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url('../images/herot@2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ), url('../images/herod@1x.jpg');
        // height: 600px;
        max-width: 1600px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
            url('../images/herod@2x.jpg');
        }
    }
}

.hero__container {
    padding: 118px 0;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        }
}

.centered {
    text-align: center;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    @media screen and (max-width: 767px) {
        margin-left: 60px;
        margin-right: 60px;
    }
    @media screen and (min-width: 768px) {
        max-width: 360px;
        }
    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
        }
}

.button {
    display: inline-block;
}