.about-us__title,
.team__title,
.clients__title  {
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}
