:root {
    --primary-header-color: #212121;
    --second-header-color: #757575;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --primary-title-color: #212121;
    --hero-title-color: #ffffff;
    --footer-color:  #ffffff;
    --accent-color: #2196F3;
    --main-background-color: #2F303A;
    --main-logo-color: #afb1b8;
    --projects__overlay-color: #ffffff;
}